@import "valiables";
.btn {
  border-radius: 18px;
  min-width: 10rem;
  height: 2.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.12em;

  font-style: normal;
  font-weight: 900;
  font-size: 24px;

  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  &--action {
    color: $color1;
    background: $color4;
  }
  &--control {
    color: $dark;
    background: $color1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
  }
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
  letter-spacing: 0.15em;
  color: #798071;
  margin: 0;
  &__1 {
  }
  &__2 {
    margin-left: 1rem;
  }
  &__3 {
    margin-left: 2rem;
  }
}

