table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid $dark;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: $dark;
}
.table_container{
  height:300px;
  overflow:auto;
}
