@import "styles/valiables";
@import "styles/misc";
@import "styles/choises";
@import "styles/home";
@import "styles/input";
@import "styles/arena";
@import "styles/podium";
@import "styles/scoreboard";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
.App {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 10% 1fr 10%;
  grid-template-areas: ". . ." ". wrapper ." ". . .";
  .wrapper {
    padding: 1rem;
    grid-area: wrapper;
    background-color: $color1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  background-color: #ffffff;
  background-image: url("assets/Randomized-Pattern.svg");
  background-attachment: fixed;
  background-repeat: repeat;

  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0%;
    }
  }
  animation: animatedBackground 40s linear infinite;
  font-family: "Roboto", sans-serif;
}
